{% assign aa_lang = page.lang | default: 'en' %}
{% assign aa_profile = site.data.profile[aa_lang] | default: site.data.profile.en %}
{% assign aa_labels = site.data.aa_labels[aa_lang] | default: site.data.aa_labels.en %}

<div itemscope itemtype="https://schema.org/Person" class="h-card aa-author-card aa-profile-card">
  <div class="author__avatar aa-profile-card__avatar">
    <a href="{{ aa_profile.home | relative_url }}" aria-label="{{ aa_profile.display_name }}">
      <img src="{{ site.author.avatar | relative_url }}" alt="{{ aa_profile.display_name }}" itemprop="image" class="u-photo" loading="lazy" width="160" height="160">
    </a>
  </div>

  <div class="author__content aa-profile-card__content">
    <h3 class="author__name p-name" itemprop="name">
      <a class="u-url" rel="me" href="{{ aa_profile.home | relative_url }}" itemprop="url">{{ aa_profile.display_name }}</a>
    </h3>
    <div class="author__bio p-note" itemprop="description">
      {{ aa_profile.bio | markdownify }}
    </div>
  </div>

  <div class="author__urls-wrapper aa-profile-card__links">
    <ul class="author__urls social-icons aa-profile-links">
      <li class="aa-profile-links__item" itemprop="homeLocation" itemscope itemtype="https://schema.org/Place">
        <span class="aa-profile-link aa-profile-link--location">
          {% include aa/icon.html name="location" %}
          <span itemprop="name" class="p-locality">{{ aa_profile.location }}</span>
        </span>
      </li>
      {% for link in aa_profile.links %}
        <li class="aa-profile-links__item">
          <a class="aa-profile-link" href="{{ link.url }}" rel="nofollow noopener noreferrer me"{% if link.url contains 'http' %} itemprop="sameAs" target="_blank"{% endif %}>
            {% include aa/icon.html name=link.icon_name %}
            <span class="label">{{ link.label }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
