{% assign aa_lang = page.lang | default: 'en' %}
{% assign aa_ui = site.data.ui-text[aa_lang] | default: site.data.ui-text[site.locale] %}
<nav class="skip-links">
  <ul>
    <li><a href="#site-nav" class="screen-reader-shortcut">{{ aa_ui.skip_primary_nav | default: 'Skip to primary navigation' }}</a></li>
    <li><a href="#main" class="screen-reader-shortcut">{{ aa_ui.skip_content | default: 'Skip to content' }}</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">{{ aa_ui.skip_footer | default: 'Skip to footer' }}</a></li>
  </ul>
</nav>
