{% assign aa_lang = page.lang | default: 'en' %}
{% assign aa_ui = site.data.ui-text[aa_lang] | default: site.data.ui-text[site.locale] %}
{% assign share_label = aa_ui.share_on_label | default: "Share on" %}
<section class="page__share aa-share-actions">
  <h4 class="page__share-title">{{ share_label }}</h4>

  <a href="https://x.com/intent/tweet?{% if site.twitter.username %}via={{ site.twitter.username | url_encode }}&{% endif %}text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" class="aa-share-button aa-share-button--x" aria-label="{{ share_label }} X" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ share_label }} X">
    {% include aa/icon.html name="x" %}<span class="sr-only">X</span>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_encode }}" class="aa-share-button aa-share-button--facebook" aria-label="{{ share_label }} Facebook" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ share_label }} Facebook">
    <span class="aa-share-letter" aria-hidden="true">f</span><span>Facebook</span>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" class="aa-share-button aa-share-button--linkedin" aria-label="{{ share_label }} LinkedIn" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ share_label }} LinkedIn">
    {% include aa/icon.html name="linkedin" %}<span>LinkedIn</span>
  </a>
</section>
