---
---

<!doctype html>
{% include copyright.html %}
{% assign aa_lang = page.lang | default: 'en' %}
{% assign aa_dir = page.dir %}
{% if aa_dir == nil or aa_dir == empty %}
  {% if aa_lang == 'ar' %}{% assign aa_dir = 'rtl' %}{% else %}{% assign aa_dir = 'ltr' %}{% endif %}
{% endif %}
<html lang="{{ aa_lang }}" dir="{{ aa_dir }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }} lang-{{ aa_lang }} dir-{{ aa_dir }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{{ aa_dir }}">
    {% include skip-links.html %}
    {% include masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div id="site-search" class="search-content" aria-hidden="true">
        {% include search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    {% include enhancements.html %}
  </body>
</html>
